@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
   test {
      @apply text-red-500
   }
}

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   transition: all 100ms ease;
   -webkit-tap-highlight-color: transparent;
}

html, body{
   width: 100%;
   height: 100%;
   overflow: hidden;
}