@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
   .hoverable{
      @apply hover:bg-lilac-dark/40 focus-visible:bg-lilac-dark/40 hover:disabled:!bg-transparent focus-visible:disabled:!bg-transparent
   }
   .flexCentered{
      @apply flex justify-center items-center
   }
   .ripple{
      @apply absolute bg-lilac-dark/40
   }
}

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   transition: all 100ms ease;
   -webkit-tap-highlight-color: transparent;
}

html, body{
   width: 100vw;
   height: 100vh;
}

.shake{
   animation: shake 0.3s;
}

@keyframes shake{
   0% {transform: translate(0);}
   20% {transform: translate(0.3em);}
   40% {transform: translate(-0.3em);}
   60% {transform: translate(0.3em);}
   80% {transform: translate(-0.3em);}
   100% {transform: translate(0);}
}